/* PC */
@media screen and (min-width: 992px) {
	.mobile-header {
		display: none;
	}

	.show-on-mobile {
		display: none;
	}
}

/* Tablet & mobile */
@media screen and (max-width: 991px) {
	.navbar {
		position: relative;
	}

	.navbar .logo {
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		left: 50%;
	}

	.navbar ul {
		display: none;
	}

	.toggle-menu svg {
		width: 24px;
		color: #666;
	}

	.menu-overlay {
		position: fixed;
		inset: 0;
		background-color: rgba(0, 0, 0, 0.3);
		z-index: 1;
		opacity: 0;
		visibility: hidden;
		transition: .5s ease;
	}

	.menu-drawer {
		position: fixed;
		inset: 0 40% 0 0;
		padding: 60px;
		background: #fff;
		z-index: 2;
		transform: translateX(-100%);
		transition: .5s ease;
	}

	.menu-drawer ul {
		margin-top: 32px;
	}

	.menu-drawer ul a {
		display: block;
		padding: 14px 0;
		color: #333;
		font-weight: 500;

	}

	.menu-checkbox:checked ~ .menu-overlay {
		opacity: 1;
		visibility: visible;
	}

	.menu-checkbox:checked ~ .menu-drawer {
		transform: translateX(0);
	}

	.separate {
		border-top: 1.5px solid #ebebeb;
	}

	.hero-img {
		display: none;
	}

	.hero-wrap .info {
		width: 80%;
		text-align: center;
		margin: 0 auto;
	}

	.hero-wrap .desc {
		width: 80%;
    	margin: 30px auto auto;
	}

	.clients .slogans {
		justify-content: center;
		flex-wrap: wrap;
	}

	.guide-item {
		flex: 1;
		margin: 0;
	}

	.features .list {
		grid-template-columns: 1fr 1fr;
	}

	.stats .row {
		flex-direction: column;
	}

	.stats .img-block, .stats .info {
		width: 100%;
	}
	
	.stats .img-block {
		order: 2;
		margin-top: 80px;
	}

	.stats .info {
		order: 1;
		padding: 0;
	}

	.stats .info .sub-title {
		width: 70%;
	}

	.stats .info .desc {
		width: 100%;
	}

	.stats .row-quantity {
		flex-direction: row;
	}

	.stats .quantity-item .qty {
		font-size: 5rem;
	}

	.stats .quantity-item .qty-desc {
		font-size: 1.5rem;
	}

	.subscription .body .image {
		display: none;
	}
	
	.footer .row-top {
		display: grid;
		grid-template-columns: 1fr 2fr;
		row-gap: 80px;
	}
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
	.show-on-mobile {
		display: none;
	}
}

/* Mobile */
@media screen and (max-width: 767px) {
	.hide-on-mobile {
		display: none;
	}

	.menu-drawer {
		inset: 0 25% 0 0;
		padding: 40px;
	}

	.navbar .actions {
		display: none;
	}

	.hero .title {
		margin-top: 20px;
		font-size: 5.2rem;
	}

	.hero-wrap .desc {
		width: 100%;
	}

	.hero-wrap {
		height: calc(100vh - 80px);
	}

	.clients .slogans {
		row-gap: 20px;
	}

	.guides .list-item {
		flex-direction: column;
		row-gap: 60px;
	}
	
	.guide-cta {
		margin-top: 60px;
	}

	.features .link {
		display: none;
	}

	.features .list {
		grid-template-columns: 1fr;
	}

	.features .view-all {
		display: flex;
		justify-content: center;
		margin-top: 50px;
	}

	.stats .info .sub-title {
		width: 100%;
	}

	.stats .img-block .image {
		width: 100%;
	}

	.stats .img-block .stats-trend {
		top: 20px;
    	left: 20px;
		border-radius: 12px;
	}

	.stats .row-quantity {
		flex-direction: column;
		align-items: center;
		row-gap: 60px;
	}

	.subscription .body .info {
		padding: 32px;
	}

	.subscription .body {
		height: auto;
	}

	.footer .row-top {
		grid-template-columns: 1fr;
	}

	.footer .row-bottom {
		flex-direction: column;
		row-gap: 20px;
	}
}